SGFTE_MAIL_HOST=smtp.gmail.com
SGFTE_MAIL_PORT=465
SGFTE_MAIL_SSL=true
SGFTE_MAIL_USER=your_email@gmail.com
SGFTE_MAIL_PASSWORD=mail_password
SGFTE_APP_BASE_URL=http://localhost:8080
ORACLE_PASSWORD=oracle_password
APP_USER=user_password
APP_USER_PASSWORD=app_password